# Ignore eveything so repository can be used in game instance
/*

# Add directories with soure code
!config/
!defaultconfigs/
!kubejs/
!mods/panorama/
!packmode/
!panoramas/
!scripts/

# Add files in main directory
!.gitattributes
!.gitignore
!LICENSE
!packmode_picker.bat
!packmode_picker.sh
!packmode_picker.py
!panorama.dat
!README.md

# Specific exclusion
config/embeddium-fingerprint.json
config/embeddium-options.json
config/embeddium++.toml
config/fml.toml
config/oculus.properties
config/emi.css

config/jei/*
config/worldedit/

config/badmobs-common.toml
config/extendedcrafting-common.toml
config/mysticaladaptations-common.toml
config/mysticalagradditions-common.toml
config/mysticalagriculture-common.toml
config/sgjourney-common.toml
config/defaultworldtype/client-config.toml
config/skyblockbuilder/data/dimensions.txt
config/nuclearcraft/*